<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Address book", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Features",  features_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>